{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    {% include "header.html" %}

    <div class="news-container">
    {% for item in news %}
      <div class=news-card>
        <h2 class="news-title">{{ item.title }}</h2>
        <img src="{% static item.image %}">
        <span class="news-date">{{ item.created_at|date:"d/m/Y" }}</span>
      </div>
    {% endfor %}
    </div>

</body>
</html>