<!--events/templates/home.html-->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <header class="header"> 
      <ul class="header-links">
        <a href="/">Home</a>
      </ul>
    </header>

    {% for item in news %}
      <div>
        <h2 class="news-title">{{ item.title }}</h2>
        <img src="{% static item.image %}">
        <span class="news-date">{{ item.created_at }}</span>
      </div>
    {% endfor %}

</body>
</html>